<%- include('./inc/head') %>
    <body class="has-navbar-fixed-top">
        <header>
            <nav id="navTopMain" class="navbar is-fixed-top is-black is-spaced" role="navigation" aria-label="main navigation">
                <%- include('./inc/nav') %>
            </nav>
        </header>
        <div id="navBot" class="navbar is-fixed-bottom is-black is-spaced is-hidden-mobile">
            <%- include('./inc/songbar') %>
        </div>
        <section id="main" class="hero is-primary is-fullheight">
            <div class="container" style="padding:3rem; width:100%;">
                <br>
                <div class="content">
                    <h1 class="title">Team</h1>
                    <h3 class="subtitle">Management</h3>
                </div>
                <div class="columns is-multiline">
                    <div class="column is-one-fifth-fullhd is-3-widescreen is-4-desktop is-6-tablet">
                        <div class="card">
                            <div class="card-image">
                                <figure class="image is-square">
                                    <img src="https://cdn.discordapp.com/avatars/81011298891993088/bd8e989faf81129bd9e9b7028bbdb56d.webp?size=256" style="object-fit:cover;" alt="Album Art">
                                </figure>
                            </div>
                            <div class="card-content">
                                <div class="media">
                                    <div class="media-content">
                                        <p class="title is-4">Freya</p>
                                        <p class="subtitle is-6">Creator</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="column is-one-fifth-fullhd is-3-widescreen is-4-desktop is-6-tablet">
                        <div class="card">
                            <div class="card-image">
                                <figure class="image is-square">
                                    <img src="https://cdn.discordapp.com/avatars/188571987835092992/70aacefadaafeab249a8f3e3bc81314f.jpg?size=256" style="object-fit:cover;" alt="Album Art">
                                </figure>
                            </div>
                            <div class="card-content">
                                <div class="media">
                                    <div class="media-content">
                                        <p class="title is-4">Allie | アリー</p>
                                        <p class="subtitle is-6">Owner, Developer</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="content">
                    <h3 class="subtitle">Staff</h3>
                </div>
                <div class="columns is-multiline">
                    <div class="column is-one-fifth-fullhd is-3-widescreen is-4-desktop is-6-tablet">
                        <div class="card">
                            <div class="card-image">
                                <figure class="image is-square">
                                    <img src="https://cdn.discordapp.com/avatars/112612543125520384/f0ebc0e921783e37d66f194fdcefdeaa.webp?size=256" style="object-fit:cover;" alt="Album Art">
                                </figure>
                            </div>
                            <div class="card-content">
                                <div class="media">
                                    <div class="media-content">
                                        <p class="title is-4">Sorch</p>
                                        <p class="subtitle is-6">Admin, Contributor</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="column is-one-fifth-fullhd is-3-widescreen is-4-desktop is-6-tablet">
                        <div class="card">
                            <div class="card-image">
                                <figure class="image is-square">
                                    <img src="https://cdn.discordapp.com/avatars/268383799132291072/82c46d82beb3df13f0bec0bdbac9e88a.jpg?size=256" style="object-fit:cover;" alt="Album Art">
                                </figure>
                            </div>
                            <div class="card-content">
                                <div class="media">
                                    <div class="media-content">
                                        <p class="title is-4">Phoenix</p>
                                        <p class="subtitle is-6">Admin, Contributor</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="column is-one-fifth-fullhd is-3-widescreen is-4-desktop is-6-tablet">
                        <div class="card">
                            <div class="card-image">
                                <figure class="image is-square">
                                    <img src="https://cdn.discordapp.com/avatars/419958345487745035/a_3f083347f13a7076fad07b12af3d0fe9.gif?size=256" style="object-fit:cover;" alt="Album Art">
                                </figure>
                            </div>
                            <div class="card-content">
                                <div class="media">
                                    <div class="media-content">
                                        <p class="title is-4">J_DDev</p>
                                        <p class="subtitle is-6">Moderator, Contributor</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="column is-one-fifth-fullhd is-3-widescreen is-4-desktop is-6-tablet">
                        <div class="card">
                            <div class="card-image">
                                <figure class="image is-square">
                                    <img src="https://cdn.discordapp.com/avatars/97437499734904832/d76d1e844662925406a2c66eaa341949.webp?size=256" style="object-fit:cover;" alt="Album Art">
                                </figure>
                            </div>
                            <div class="card-content">
                                <div class="media">
                                    <div class="media-content">
                                        <p class="title is-4">Rebecca ♡</p>
                                        <p class="subtitle is-6">Moderator</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="column is-one-fifth-fullhd is-3-widescreen is-4-desktop is-6-tablet">
                        <div class="card">
                            <div class="card-image">
                                <figure class="image is-square">
                                    <img src="https://cdn.discordapp.com/avatars/263075293101686786/4285f7615b0b61a8133bf45c804b0cbf.webp?size=256" style="object-fit:cover;" alt="Album Art">
                                </figure>
                            </div>
                            <div class="card-content">
                                <div class="media">
                                    <div class="media-content">
                                        <p class="title is-4">Xenon</p>
                                        <p class="subtitle is-6">Moderator</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="column is-one-fifth-fullhd is-3-widescreen is-4-desktop is-6-tablet">
                        <div class="card">
                            <div class="card-image">
                                <figure class="image is-square">
                                    <img src="https://cdn.discordapp.com/avatars/265055292465741824/eaa31aa6d90c82edad7d143214945e4f.webp?size=256" style="object-fit:cover;" alt="Album Art">
                                </figure>
                            </div>
                            <div class="card-content">
                                <div class="media">
                                    <div class="media-content">
                                        <p class="title is-4">NiceLR</p>
                                        <p class="subtitle is-6">Moderator</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="column is-one-fifth-fullhd is-3-widescreen is-4-desktop is-6-tablet">
                        <div class="card">
                            <div class="card-image">
                                <figure class="image is-square">
                                    <img src="https://cdn.discordapp.com/avatars/218772716814204930/03c0e055652f294a017ef306fd30a95a.webp?size=256" style="object-fit:cover;" alt="Album Art">
                                </figure>
                            </div>
                            <div class="card-content">
                                <div class="media">
                                    <div class="media-content">
                                        <p class="title is-4">LilyScarlet</p>
                                        <p class="subtitle is-6">Moderator</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            <!--
                <div class="content">
                    <h3 class="subtitle">Contributors</h3>
                </div>
                <div class="columns is-multiline">
                </div>
            -->
            </div>
        </section>
<%- include('./inc/foot') %>