<%- include('./inc/head') %>
    <body>
        <section id="heroMain" class="hero is-primary is-fullheight video">
            <div class="hero-video is-transparent" style="filter: blur(10px); -webkit-filter: blur(10px);">
                <video poster="" playsinline="" autoplay="" muted="" loop ="" style="object-fit: cover;">
                    <source src="/_gb/vid.mp4" type="video/mp4">
                </video>
            </div>        
            <header>
                <nav id="navTop" class="navbar is-fixed-top is-transparent is-spaced" role="navigation" aria-label="main navigation">
                    <%- include('./inc/nav') %>
                </nav>
            </header>
            <div id="navBot" class="navbar is-fixed-bottom is-black is-spaced is-hidden-mobile">
                <%- include('./inc/songbar') %>
            </div>
            <style>
                @media (min-width: 1408px) {
                    .slogan {
                        white-space: nowrap;
                    }
                }
            </style>
            <div class="hero-body">
                <div class="container">
                    <div class="columns is-vcentered">
                        <div class="column">
                            <figure class="image is-square">
                                <img src="/_gb/discord_v2.1225443.svg" />
                            </figure>
                        </div>
                        <div class="column">
                            <h1 class="title">GensokyoBot</h1>
                            <h2 class="subtitle">
                                <p style="font-weight: bold;">げんそきょぼｔ</p>
                                <br>
                                <p class="slogan">The #1 Touhou Music Bot for fan-made Touhou Music since 2017</p>
                            </h2>
                            <span>
                                <a href="/invite">
                                    <div class="button is-white is-outlined has-text-weight-bold is-size-4">Add GensokyoBot</div>
                                </a>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </body>
</html>