<%- include('./inc/head') %>
	<body>
		<div id="bg1" style="position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; background: rgba(0, 0, 0, 0) url(&quot;https://gensokyoradio.net/images/albums/500/HTNT-007_4df8092e45.jpg&quot;) no-repeat fixed 0% 0% / cover; filter: blur(16px) brightness(0.5) grayscale(1);"></div>
		<div style="position:absolute; top:0; left:0; width:100%; height:100%; background-color: #2058;"></div>
		<section id="heroMain" class="hero is-primary is-fullheight video">
			<div class="hero-video is-transparent">
				<canvas id="eq_canvas" style="width:100%; height:100%;" width="1920" height="1080"></canvas>
			</div>
			<header>
				<nav id="navTop" class="navbar is-fixed-top is-transparent is-spaced" role="navigation" aria-label="main navigation">
                    <%- include('./inc/nav') %>
				</nav>
			</header>
			<div id="navBot" class="navbar is-fixed-bottom is-black is-spaced is-hidden-mobile">
				<div class="navbar-end is-hidden-touch">
				</div>
			</div>
			<div class="hero-body">
				<div class="container">
					<div class="columns is-vcentered">
						<div class="column">
							<figure class="image is-pulled-right" style="width:600px; height:600px; object-fit:contain;">
								<img id="playerArt" style="max-width: 600px; max-height: 600px; object-fit: contain; position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%);" src="https://gensokyoradio.net/images/albums/500/HTNT-007_4df8092e45.jpg">
								<div id="durationBar" style="position: absolute; bottom: 0px; left: 0px; width: 89.7595%; height: 5px; background: rgba(255, 255, 255, 0.533) none repeat scroll 0% 0%; overflow: hidden;"></div>
							</figure>
						</div>
						<div class="column">
							<div>
								<span class="is-size-3 has-text-weight-bold" id="playerTitle" style="position: relative; left: 0px; opacity: 1;"></span>
								<span class="is-size-3 has-text-weight-bold">&nbsp;</span>
							</div>
							<div>
								<span class="is-size-4" id="playerArtist" style="position: relative; left: 0px; opacity: 1;"></span>
								<span class="is-size-4">&nbsp;</span>
							</div>
							<div>
								<span class="is-size-4" id="playerAlbum" style="position: relative; left: 0px; opacity: 1;"></span>
								<span class="is-size-4">&nbsp;</span>
							</div>
							<div>
								<span class="is-size-4" id="playerCircle" style="position: relative; left: 0px; opacity: 1;"></span>
								<span class="is-size-4">&nbsp;</span>
							</div>
							<div>
								<span class="is-size-4" id="playerCounter">--:-- / --:--</span>
							</div>
							<br />
							<div>
								<span >
									<a class="button is-gb-violet" href="https://gensokyoradio.net/playing">
										<span>LISTEN ON GENSOKYO RADIO</span>
									</a>
								</span>
							</div>
							<span></span>
						</div>
					</div>
				</div>
			</div>
		</section>
		<div id="rating_desc" class="notification is-primary has-text-weight-bold" style="display:none; position: relative; bottom: 200px; margin: 0px auto; max-width: 400px; text-align:center;"></div>
	</body>
</html>

