
		<footer class="footer">
			<div class="content is-black">
				<div class="container is-three-fifths">
					<section class="section">
						<h1 class="title">Gensokyo Radio</h1>
						<div class="columns">
							<div class="column">
								<h2 class="subtitle">Listen</h2>
								<a href="https://gensokyoradio.net/playing">Now Playing</a><br>
								<a href="https://gensokyoradio.net/playing/history">History</a><br>
								<a href="https://gensokyoradio.net/shows">Podcasts</a><br>
								<a href="https://stream.gensokyoradio.net/">.pls &amp; .m3u</a>
							</div>
							<div class="column">
								<h2 class="subtitle">Music</h2>
								<a href="https://gensokyoradio.net/music/circle/">Circles</a><br>
								<a href="https://gensokyoradio.net/music/artist/">Artists</a><br>
								<a href="https://gensokyoradio.net/music/">Albums</a><br>
							</div>
							<div class="column">
								<a href="https://gensokyoradio.net/store">
									<h2 class="subtitle">Store</h2>
								</a>
								<a href="https://gensokyoradio.net/store#apparel">T-shirts</a><br>
								<a href="https://gensokyoradio.net/store#drinkware">Mugs</a><br>
								<a href="https://gensokyoradio.net/store#decoration">Buttons</a><br>
								<a href="https://gensokyoradio.net/store#decoration">Stickers</a>
							</div>
							<div class="column">
								<a href="https://forum.gensokyoradio.net/" target="_blank">
									<h2 class="subtitle">Forums</h2>
								</a>
								<a href="https://forum.gensokyoradio.net/c/station/8" target="_blank">Station</a><br>
								<a href="https://forum.gensokyoradio.net/c/music/5" target="_blank">Music</a><br>
								<a href="https://forum.gensokyoradio.net/c/games/6" target="_blank">Games</a><br>
								<a href="https://forum.gensokyoradio.net/c/community/9" target="_blank">Community</a><br>
								<a href="https://forum.gensokyoradio.net/c/creative/7" target="_blank">Creative</a>
							</div>
							<div class="column">
								<a href="https://gensokyoradio.net/about">
									<h2 class="subtitle">About</h2>
								</a>
								<a href="https://gensokyoradio.net/terms">Community Guidelines</a><br>
								<a href="https://gensokyoradio.net/privacy">Privacy Policy</a><br>
								<a href="https://gensokyoradio.net/contact">Contact Us</a>
							</div>
						</div>
					</section>
					<section class="section has-text-centered">
						The album art, circle art, and related images used on this site are for illustrative purposes only and are copyright their respective owners.<br>
						Touhou Project is © Team Shanghai Alice / ZUN<br>
						Gensokyo Radio and the Musical Torii logo are trademarks of Gensokyo Radio / Three by Seven<br><br>
						© 2011-2021 Three by Seven
					</section>
				</div>
			</div>
		</footer>
	</body>
</html>