<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; carset=UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta name="description" content="GensokyoBot - A mod logging, music, fun and information Discord Bot designed by SixAiy#9029" />
        <meta property="og:title" content="GensokyoBot" />
        <meta property="og:url" content="https://gensokyobot.com" />
        <meta property="og:description" content="A mod logging, music, fun and information Discord Bot designed by SixAiy#9029" />
        <meta property="og:image" content="https://gensokyobot.com/_gb/icon.png" />
        <meta name="twitter:card" value="summary" />
        <meta name="twitter:title" content="GensokyoBot" />
        <meta name="twitter:description" content="A mod logging, music, fun and information Discord Bot designed by SixAiy#9029" />
        <meta name="twitter:image" content="https://gensokyobot.com/_gb/icon.png" />
        <link rel="icon" href="/_gb/icon.png" type="image/png">

        <title>GensokyoBot | <%= title %></title>

        <link rel="stylesheet" href="https://cdn.filesquid.net/staff/allie/vendor/fa/css/all.min.css" />
        <link rel="stylesheet" href="/_gb/app.css" />
    </head>
    <body>