
		<footer class="footer">
			<div class="content is-black">
				<div class="container is-three-fifths">
					<section class="section">
						<h1 class="title">GensokyoBot</h1>
						<div class="columns">
							<div class="column">
								<h2 class="subtitle">Legal</h2>
								<!--<a href="/terms">Terms</a><br>-->
								<a href="/privacy">Privacy</a><br>
								<!--<a href="/dmca">DMCA</a><br>-->
							</div>
							<div class="column">
								<h2 class="subtitle">Links</h2>
								<a href="/media">Playing</a><br>
								<a href="/team">Team</a><br>
								<a href="https://status.sixaiy.com">Status</a><br>
							</div>
							<div class="column">
								<h2 class="subtitle">Other Links</h2>
								<a href="https://stats.foldingathome.org/team/249153">Folding@Home</a><br>
								<a href="https://fredboat.com">FredBoat</a>
							</div>
							<div class="column">
								<h2 class="subtitle">Partners</h2>
								<a href="https://sixaiy.com">SixAiy</a><br>
								<a href="https://sentcord.com">Sentcord</a><br>
								<a href="https://bladenode.com">BladeNode</a><br>
								<a href="https://gensokyoradio.net">Gensokyo Radio</a><br>
							</div>
						</div>
					</section>
					<section class="section has-text-centered">
						GensokyoBot is not affilated with Discord and/or Gensokyo Radio<br><br>

						© 2011-2021 SixAiy. All Rights Reserved.<br>
						SixAiy DBA The GensokyoBot Brand.<br>
						ABN: 54 202 781 779 
					</section>
				</div>
			</div>
		</footer>
	</body>
</html>