            <div class="navbar-brand is-dark">
                <a class="navbar-item" href="/">
                    <img src="/_gb/logo.png" />
                </a>
                <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" style="padding:.75rem 5rem 0 0;">
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                </a>
            </div>
            <div class="navbar-menu">
                <div class="navbar-end">
                    <a class="navbar-item" href="/playing">Playing</a>
                    <a class="navbar-item" href="/cmds">Commands</a>
                    <a class="navbar-item" href="/team">Team</a>
                    <a class="navbar-item" href="/status">Status</a>
                    <a class="navbar-item" href="/invite">Add to Discord</a>
                    <a class="navbar-item" href="/discord"><i title="Discord" class="fab fa-discord"></i></a>
                    <a class="navbar-item" href="https://twitter.com/sixaiy"><i title="Twitter" class="fab fa-twitter"></i></a>
                    <a class="navbar-item" href="https://github.com/sixaiy"><i title="GitHub" class="fab fa-github"></i></a>
                    <!--
                    <span class="navbar-item">
                        <a class="button is-gb-violet" href="/login">
                            <span>Login</span>
                        </a>
                    </span> 
                    -->
                </div>
            </div>