
            <header>
                <nav id="navTop" class="navbar is-fixed-top is-transparent is-spaced" role="navigation" aria-label="main navigation">
                    <div class="navbar-brand is-dark">
                        <a class="navbar-item" href="/">
                            <img src="/_gb/logo.png" />
                        </a>
                        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" style="padding:.75rem 5rem 0 0;">
                            <span aria-hidden="true"></span>
                            <span aria-hidden="true"></span>
                            <span aria-hidden="true"></span>
                        </a>
                    </div>
                    <div class="navbar-menu">
                        <div class="navbar-end">
                            <a class="navbar-item" href="/music">PLAYING</a>
                            <a class="navbar-item" href="/cmds">COMAMNDS</a>
                            <a class="navbar-item" href="/team">TEAM</a>
                            <a class="navbar-item" href="/status">STATUS</a>
                            <a class="navbar-item" href="/support"><i class="fab fa-discord"></i></a>
                            <a class="navbar-item" href="https://twitter.com/sixaiy"><i class="fab fa-twitter"></i></a>
                            <span class="navbar-item">
                                <a class="button is-gb-violet" href="/invite">
                                    <span>ADD GENSOKYOBOT</span>
                                </a>
                            </span>
                        </div>
                    </div>
                </nav>
            </header>