
            <div class="navbar-brand is-dark">
                <a class="navbar-item" href="/media">
                    <img id="songBarImage" style="display: inline;" />
                    <span style="margin-left: 10px;">
                        <div>
                            <span id="songBarArtist"></span>
                            <span id="songBarTitle"></span>
                        </div>
                        <div id="songBarAlbum" style="font-size:10pt;"></div>
                    </span>
                </a>
            </div>
            <div class="navbar-end">
                <span id="songBarCounter"></span>
            </div>