<%- include('../head') %>
    <body class="has-navbar-fixed-top">
        <header>
            <nav id="navTopMain" class="navbar is-fixed-top is-black is-spaced" role="navigation" aria-label="main navigation">
                <%- include('../nav') %>
            </nav>
        </header>
        <div id="navBot" class="navbar is-fixed-bottom is-black is-spaced is-hidden-mobile">
            <%- include('../songbar') %>
        </div>
        <section id="main" class="hero is-primary is-fullheight">
            <div class="container" style="padding:3rem; width:100%;">
                <br>
                <style type="text/css">
                    #buffer { font-size: 10pt; }
                    li { text-align: left; }
                    ol { list-style-type: none; counter-reset: item; margin: 0; padding: 0; }
                    ol > li { display: table; counter-increment: item; margin-bottom: 0.6em; }
                    ol > li:before { content: counters(item, ".") ". "; display: table-cell; padding-right: 0.6em; }
                    li ol > li { margin: 10px 0; }
                    li ol > li:before { content: counters(item, ".") " "; }
                    li ul > li { margin: 10px 0; }
                </style>
                <div class="content">
                    <p></p> 
                    <h1 class="title">Copyright Infringement Policy (DMCA)</h1> 
                    <p>If you believe a person using the BladeNode network is infringing your copyright, please read our policy below:</p> 
                    <p>In accordance with the Digital Millennium Copyright Act (DMCA), an agent has been designated to receive notification of a claimed copyright infringement for Stafford’s Enterprises, LLC. All claims of copyright infringement should be directed to:</p> 
                    <p>
                        Stafford’s Enterprises, LLC<br>
                        3735 Palomar Centre Dr. Ste 150-46<br>
                        Lexington, KY 40513<br>
                        United States of America
                    </p>
                    <ol>
                        <h3 class="subtitle">Introduction</h3>
                        <p>
                            SixAiy DBA The GensokyoBot Brand is committed to the privacy of both customers and users of the SixAiy DBA The GensokyoBot Brand website.
                            <br />
                            This privacy policy governs the manner in which SixAiy DBA The GensokyoBot Brand. Uses maintain and disclose information collected from users of the SixAiy DBA The GensokyoBot Brand website.
                        </p>
                        <h2 class="subtitle">Discord</h2>
                        <li>
                            <h3 class="subtitle">Data</h3>
                            <ol>
                                <li>
                                    <p>Who has access to my data?</p>
                                    <p>We pride our selves on data security and only the current Developer (SixAiy#9029) and Bot its self has access to this information and is never used by our Developer or Bot unless it's absolutely necessary to provide services to you eg. GensokyoBot's Radio Station for Listener Statistics.</p>
                                </li>
                                <li>
                                    <p>What we store</p>
                                    <ul><li>Your Discord ID</li></ul>
                                </li>
                                <li>
                                    <p>Removal of Personal Data</p>
                                    <p>At any time you may request to have your discord data removed from our database, you can see Opt out for further information on how to have your data removed.</p>
                                </li>                 
                            </ol>
                        </li>
                        <h2 class="subtitle">Website</h2>
                        <li>
                            <h3 class="subtitle">Privacy</h3>
                            <p>SixAiy DBA The GensokyoBot Brand is committed to developing a long term relationship with users based on trust. SixAiy DBA The GensokyoBot Brand will do everything in its power to ensure that users' and customers' privacy is maintained and protected. This website is not directed at children younger than thirteen (13) years of age.</p>
                        </li>
                        <li>
                            <h3 class="subtitle">Information</h3>
                            <ol>
                                <li>
                                    SixAiy DBA The GensokyoBot Brand may request or collect personal information from online users in a variety of ways, including through the use of online forms for ordering services and products, and other instances in which users are requested to volunteer such information. The information SixAiy DBA The GensokyoBot Brand collect is personal information that identifies you personally, such as:
                                    <ul>
                                        <li>Your Username</li>
                                        <li>URL(s)</li>
                                        <li>IP Address(es)</li>
                                        <li>Other necessary information to customize the user experience</li>
                                    </ul>
                                </li>
                                <li>SixAiy DBA The GensokyoBot Brand may also collect information on how users access and use the website by using tracking ID unique to each user through the use of cookies.</li>
                        </ol>
                        </li>
                        <li>
                            <h3 class="subtitle">What are cookies?</h3>
                            <p>A cookie is a piece of data stored on a user's computer. The cookie is tied to our website containing information about the user. SixAiy DBA The GensokyoBot Brand may use both persistent cookies and session ID cookies to help customize the user session. A session ID cookie will be erased from your computer once you log out or close the browser. A persistent cookie is a small text file that will be stored as a text file on your computer for an extended period. Your browser manual or help text contains instructions for removing persistent cookies. Session ID cookies may be used by SixAiy DBA The GensokyoBot Brand to track user preferences while the user is visiting the website. The session ID cookies will also help minimize the website loading time and cut down on server processing time. Persistent cookies may be used to store, for example, whether or not you want your password remembered or similar information regarding the website. Cookies used on the SixAiy DBA The GensokyoBot Brand contain no identifiable information.</p>
                        </li>
                        <li>
                            <h3 class="subtitle">Log files</h3>
                            <p>As standard, SixAiy DBA The GensokyoBot Brand uses log files. This information includes internet protocol (IP) address, browser type, internet service provider (ISP), referring/exit pages, platform or operating system (OS) type, date/time stamp, and number of clicks to analyze trends, administer the site, track user’s movement in aggregate, and gather broad demographic information for collective use. However, none of the data stored in the SixAiy DBA The GensokyoBot Brand log files is linked to personally identifiable information.</p>
                        </li>
                        <li>
                            <h3 class="subtitle">How information is used</h3>
                            <p>SixAiy DBA The GensokyoBot Brand maybe uses the personally identifiable information collected by SixAiy DBA The GensokyoBot Brand to contact customers regarding products and services offered by SixAiy DBA The GensokyoBot Brand and, to the extent the user has agreed to it, by its trusted affiliates, independent contractors and business partners. SixAiy DBA The GensokyoBot Brand may use this information for research purposes regarding the effectiveness of the website services, marketing, advertising, and sales effort. SixAiy DBA The GensokyoBot Brand will not in any way share this information with a third party either for free or by selling it, unless the user specifically authorities such disclosures.</p>
                        </li>
                        <li>
                            <h3 class="subtitle">Opt out</h3>
                            <p>You can always opt not to disclose information to us, but keep in mind you may need to provide some information to us in order to take advantage of some of our services and features.</p>
                            <p>If you are a resident of the European Union, United Kingdom, Lichtenstein, Norway, or Iceland, you may have additional rights under the EU General Data Protection Regulation (the “GDPR”) with respect to your Personal Data. In this event, please contact us on our Discord or email us at euprivacy@gensokyobot.com</p>
                        </li>
                        <li>
                            <h3 class="subtitle">Questions</h3>
                            <p>If you have any questions or concerns regarding our privacy policy, please send us a detailed message to privacy@genskyobot.com, and we will try to resolve your concerns.</p>
                            <p>Please understand that we reserve the right to change, update or remove any content in our privacy policy as we see fit and don't have to provide any notice to our clients, users or customers</p>
                        </li>
                    </ol>
                    <p></p>
                    <p>
                        This policy was last modified on August 18th, 2021 
                    </p>
                </div>
            </div>
        </section>
<%- include('../foot') %>

